* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #212121;
    --secondary-color: #2F2F2F;
    --tertiary-color: #494949;
    --sidebar-color: #171717;
    --primary-text: #B4B4B4;
    --secondary-text: #ECECEC;
    --font-size-base: 12px;
}


body {
    background-color: var(--primary-color);
}