
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #212121;
    --secondary-color: #2F2F2F;
    --tertiary-color: #494949;
    --sidebar-color: #171717;
    --primary-text: #B4B4B4;
    --secondary-text: #ECECEC;
    --checkmark-color:#28913a;
    --font-size-base: 12px;

    --margin-xxs: .25rem;
    --margin-xs: .5rem;
    --margin-s: .75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 5rem;

    --padding-xxs: .25rem;
    --padding-xs: .5rem;
    --padding-s: .75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;
    --padding-xxxl: 5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

#app {
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
}

.app-icon {
    font-size: 24px;
}

#app-header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 600;
}

#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    margin-top: var(--margin-xl);
    margin-left: var(--margin-l);
}

#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter-container {
    display: flex;
    flex-direction: row;
}

#sidebar-container:not(.open) ~ #main-content {
    margin-left: var(--margin-xxxl);
}

.group-title {
    color: var(--primary-text);
    font-size: 18px;
    font-weight: 600;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--secondary-text);
    width: 150px;
    height: 80px;
    border-radius: 10px;
    margin: var(--margin-l) var(--margin-xs);
    
}


.counter-number {
    font-size: 24px;
}

.counter-label {
    font-size: 12px;
}

.tasks-div {
    background-color: var(--secondary-color);
    width: 650px;
    height: 40px;
    border-radius: 10px;
    margin: var(--margin-s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.left-task-div {
    display: flex;
    align-items: center;
    margin-left: var(--margin-m);
}

.task-name-div {
    margin-left: var(--margin-s);
}

.date-div {
    margin-right: var(--margin-m);
}

.complete-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: none;
    border: 1px solid var(--primary-text); 
    box-shadow: none;
    cursor: pointer;
}

.complete-button:hover {
    background-color: var(--primary-text);
}

.complete-button.completed{
    background-color: var(--checkmark-color);
}

.add-task-button {
    width: 132px;
    height: 36px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    box-shadow: none;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--secondary-text);
    font-size: 12px;
    margin-top: var(--margin-l);
}

.add-task-button:hover {
    background-color: var(--secondary-color);
}

.checkmark-icon {
    color: var(--secondary-text);
}